[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
rope = "*"
watchdog = "*"
docker = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
asyncpg = "*"
pyjwt = "*"
pydantic = "*"
argon2-cffi = "*"
aiohttp = {extras = ["speedups"], version = "*"}
loguru = "*"

[requires]
python_version = "3.9"

[scripts]
test = "python -m pytest tinymud"
tinymud = "python launcher.py"
