/* Basic page layout using CSS grid */

body {
    max-width: 70em;
    padding-top: 0px;
}

#game-root {
    display: grid;
    grid-template: "sidebar place rightbar" auto / 2fr 6fr 2fr;
}

#sidebar {
    grid-area: sidebar;
}

#rightbar {
    grid-area: rightbar;
}

#place {
    grid-area: place;
}

#place-editor {
    display: none;
}

#place-save-button {
    display: none;
}